<html>
  <head><script type="text/javascript" src="javascript/sse.js"></script></head>
  <body>
    <div id="demo"><a href="javascript:startConnection();">Run Demo</a><br /><br />
    <div id="intro"></div>
    <div id="responses"></div>
  </body>
</html>